<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/leftsidebar.css">
    <link rel="stylesheet" href="/css/pagetop.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/teacher.css">
    <link rel="stylesheet" href="/css/pagetitle.css">
</head>
<body class="font" id="main-page">
    <%-include(./partials/navbar.ejs)%>
    <%-include(./partials/leftsidebar.ejs)%>
    <main class="page">
        <%-include(./partials/pagetitle.ejs)%>
        <%-include(./partials/pagetop.ejs)%>
        <section class="section">
            <div class="section-body">
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-1.jpg" alt="" srcset="">
                            <h5>Koro Teacher</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-2.jpg" alt="" srcset="">
                            <h5>Koro Teacher 2</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-3.jpg" alt="" srcset="">
                            <h5>Koro Teacher 3</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-1.jpg" alt="" srcset="">
                            <h5>Koro Teacher 4</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-2.jpg" alt="" srcset="">
                            <h5>Koro Teacher 5</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-3.jpg" alt="" srcset="">
                            <h5>Koro Teacher 6</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="section active">
            <div class="row">
                <div class="add-form">
                    <article class="card">
                        <div class="card-head">
                            <h3 class="card-title">Basic Information</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <article>
                                    <div class="form-control">
                                        <label for="">First Name</label>
                                        <input type="text" class="input">
                                    </div>
                                </article>
                                <article>
                                    <div class="form-control">
                                        <label for="">Last Name</label>
                                        <input type="text" class="input">
                                    </div>
                                </article>
                                <article>
                                    <div class="form-control">
                                        <label for="">Date Of Birth</label>
                                        <input type="date" class="input">
                                    </div>
                                </article>
                                <article>
                                    <div class="form-control">
                                        <label for="">Gender</label>
                                        <select name="gender" id="">
                                            <option value="">--Gender---</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </article>
                                <article>
                                    <div class="form-control">
                                        <label for="">Department</label>
                                        <input type="text" class="input">
                                    </div>
                                </article>
                                <article>
                                    <div class="form-control">
                                        <label for="">Position</label>
                                        <input type="text" class="input">
                                    </div>
                                </article>
                                <article>
                                    <div class="form-control">
                                        <label for="">Phone Number</label>
                                        <input type="text" class="input">
                                    </div>
                                </article>
                                <article>
                                    <div class="form-control">
                                        <label for="">Email</label>
                                        <input type="text" class="input">
                                    </div>
                                </article>
                                <article class="file-selector">
                                    <div class="form-control">
                                        <div class="picker">
                                            <div class="picker-text">
                                                <span>Drag and Drop Files Here To Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article>
                                   <button class="submit">Submit</button>
                                   <button class="cancel">Cancel</button>
                                </article>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <%-include('../partials/footer.ejs')%>
    </main>
</body>
</html>