<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/leftsidebar.css">
    <link rel="stylesheet" href="/css/pagetop.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/teacher.css">
    <link rel="stylesheet" href="/css/pagetitle.css">
</head>
<body class="font" id="main-page">
    <%-include(./partials/navbar.ejs)%>
    <%-include(./partials/leftsidebar.ejs)%>
    <main class="page">
        <%-include(./partials/pagetitle.ejs)%>
        <%-include(./partials/pagetop.ejs)%>
        <section class="section">
            <div class="section-body">
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-1.jpg" alt="" srcset="">
                            <h5>Koro Teacher</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-2.jpg" alt="" srcset="">
                            <h5>Koro Teacher 2</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-3.jpg" alt="" srcset="">
                            <h5>Koro Teacher 3</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-1.jpg" alt="" srcset="">
                            <h5>Koro Teacher 4</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-2.jpg" alt="" srcset="">
                            <h5>Koro Teacher 5</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="card-content">
                            <img src="/img/user-3.jpg" alt="" srcset="">
                            <h5>Koro Teacher 6</h5>
                            <span class="position">Head Teacher</span>
                            <div class="phone-num">+2347082392310</div>
                            <p class="address">NO 2, Woji PortHarcourt, Rivers State</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <%-include('../partials/footer.ejs')%>
    </main>
</body>
</html>