<%- include('../partials/header') -%>

	<a href="/class/<%=foundClass.slug%>/update">Update Class</a>
		<h1><%= foundClass.name %></h1>
		<p><em><%= foundClass.motto %></em></p>

<%- include('../partials/footer') -%>

