<%- include('../partials/header') -%>

	<% classes.forEach( classOne => { %>
		<h1><%= classOne.name %></h1>
		<p><em><%= classOne.motto %></em></p>
		<% classOne.subjects.forEach( subject => { %>
			<p><%= subject %></p>
		<% }) %>
	<% }) %>

<%- include('../partials/footer') -%>

