<%- include('../partials/header') -%>

	<% classes.forEach( classOne => { %>
		<h1><a href="/class/<%=classOne.slug%>"><%= classOne.name %></a></h1>
		<p><em><%= classOne.motto %></em></p>
	<% }) %>

<%- include('../partials/footer') -%>

